

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="border">
        <div id="screen"></div>
    test
    </div>
</body>
</html>
